@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles for landscape orientation */
@media (orientation: landscape) {
  body {
    /* Styles for landscape mode */
  }

  .landscape-only {
    display: block;
  }

  .portrait-only {
    display: none;
  }
}

@media (orientation: portrait) {
  .landscape-only {
    display: none;
  }
  .portrait-only {
    display: block;
  }
}
